django
djangorestframework
djangorestframework-jsonapi
django-filter
drf-spectacular
django-cors-headers
git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
supervision
ultralytics
scikit-learn
flake8
flake8-docstrings